{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<table>
   <thead>
        <tr>
            <th>Name</th>
            <th>Number of students</th>
            <th>Senior of group</th>
        </tr>
    </thead>
    <tbody>
        {% for group in group_list %}
        <tr>
            <td><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></td>
            <td>{{ group.student_set.count }}</td>
            <td>{{ group.group_senior.name }}</td>
            <td><a href="{{ group.get_edit_url }}"><button>Edit</button></a></td>
            <td>
                <form method="post" action="{{ group.get_del_url }}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href="{% url group_add-students %}"><button>Add</button></a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
