{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if err_log %}
<li style="color: red;">{{ err_log }}</li>
{% endif %}
<form method="post" action="{% url login-accounts %}">
    {% csrf_token %}
    <table>

                
                
            </div>
        </div>
    </table>
    <table>
   <thead>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><input type="radio" name="status" value="existing" checked>I'm registered already</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="radio" name="status" value="new">I don't have an account yet</td>
        </tr>
        <tr>
            <td>Login:</td>
            <td>{{ form.username }}</td><td>{{ form.errors.username }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ form.password }}</td><td>{{ form.errors.password }}</td>
        </tr>
        <tr>
            <td><button type="submit">Enter</button></td>
        </tr>
    </tbody>
</table>
</form>
{% endblock %}
